<p style="color: green"><%= notice %></p>

<h1>Propiedades</h1>

<%= link_to "New property", new_property_path %>

<div id="properties">

<div class="container">
  <% @properties.each do |property| %>
    <%= render property %>
  <% end %>

  <div class="pagination justify-content-center">
    <%== pagy_nav(@pagy) %>
  </div>
</div>







