<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4">Nueva propiedad</h1>

      <%= render "form", property: @property %>

      <div class="mt-3">
        <%= link_to "Volver a las propiedades", properties_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
